<div class="card">
  <div class="chatroom-title">{{'CHATROOMS.CHATROOM' | translate}}</div>
  <mat-divider></mat-divider>

  <div>
    <div class="title-wrapper">
      <div class="chatroom-sub-title">{{'CHATROOMS.CHATROOM_LIST' | translate}}</div>
      <button
        mat-stroked-button
        [routerLink]="['create']"
        color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>

    <ng-container *ngIf="chatrooms.length > 0">
      <mat-selection-list
        #roomList
        class="select-list"
        [multiple]="false">
        <mat-list-option *ngFor="let room of chatrooms" [value]="room">
          <div class="item">
            {{room.name}}
            <div>
              <button mat-button
                      [routerLink]="[room.id, 'edit']">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button
                      (click)="deleteRoom(room.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </ng-container>
    <mat-divider></mat-divider>
  </div>


  <div class="footer">
    <button
      mat-stroked-button
      color="accent"
      (click)="navigateToMessageView(roomList.selectedOptions.selected[0].value.id)"
      >
      {{ 'SUBMIT' | translate }}
    </button>
  </div>
</div>
