@use '@angular/material' as mat;

@include mat.core();

// I suggest that you should use another prefix, but `my-app` is fine as well
// Primary colour
$app-primary: mat.define-palette(mat.$grey-palette, 700);
// Accent colour
$app-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme($app-primary, $app-accent);
@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.form-field-color($my-theme);
@include mat.toolbar-color($my-theme);
@include mat.tabs-color($my-theme);
@include mat.tabs-color($my-theme);
@include mat.checkbox-color($my-theme);



//@include mat.form-field-theme($my-theme);
