@import "~@angular/material/theming";
@import 'apps/frontend/src/assets/theme.scss';

$accent-color: mat-color($app-accent, default);

.container {
  height: 100%;

  .imessage {
    //max-width: 600px;
    min-height: 75%;

    div {
      border-radius: 1.15rem;
      line-height: 1.25;
      padding: 0.5rem .875rem;
      position: relative;
      word-wrap: break-word;
      display: flex;
      flex-direction: column;

      ::before,
      ::after {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
      }

      .from-me {
        max-width: 75%;
        width: 100%;
        align-self: flex-end;
        background-color: $accent-color;
        color: #fff;
      }

      .from-me::before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid $accent-color;
        right: -0.35rem;
        transform: translate(0, -0.1rem);
      }

      .from-me::after {
        background-color: #404040;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform: translate(-30px, -2px);
        width: 10px;
      }

      .from-them {
        max-width: 75%;
        align-items: flex-start;
        background-color: #e5e5ea;
        color: #000;
      }

      .from-them:before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #e5e5ea;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
      }

      .from-them::after {
        background-color: #404040;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
      }
    }
  }

  .text-area {
    min-height: 25%;
    display: flex;
    align-items: flex-end;

    mat-form-field{
      margin: 12px;
    }
  }

}
